{{ define "layout" }}
<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }}</title>

        {{ template "styles" . }}
        
</head>
<body class="layout-fixed sidebar-expand-lg sidebar-open bg-body-tertiary">
   
    <div class="app-wrapper">
        {{ template "header" . }}
        
        <!--begin::Sidebar-->
        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        
      {{ template "sidebar" . }}
        
            
        </aside>
        <!--end::Sidebar-->
    
        {{ template "flash" . }}

        {{ if eq .Page "pages/dashboard" }}
            {{ template "pages/dashboard" . }}
        {{ else if eq .Page "pages/community_add" }}
            {{ template "pages/community_add" . }}
        {{ else if eq .Page "pages/community_listing" }}
            {{ template "pages/community_listing" . }}
        {{ else if eq .Page "pages/users/user_profile_add" }}
            {{ template "pages/users/user_profile_add" . }}
        {{ else if eq .Page "pages/community/block_unit_add" }}
            {{ template "pages/community/block_unit_add" . }}
        {{ end }}

    </div>
    {{ template "scripts" . }}
    {{ template "footer" . }}

   

</body>
</html>
{{ end }}
