{{ define "sidebar" }}
<div class="sidebar-brand">
  <a href="{{ baseURL }}/" class="brand-link">
    <!-- <img
      src="{{ baseURL }}/assets/img/AdminLTELogo.png"
      alt="Admin"
      class="brand-image opacity-75 shadow"
    /> -->
    {{ .session_data.User_default_community }}
  </a>
</div>

<div class="sidebar-wrapper">
  <nav class="mt-2">
    <ul
      class="nav sidebar-menu flex-column"
      data-lte-toggle="treeview"
      role="navigation"
      aria-label="Main navigation"
      data-accordion="false"
      id="navigation"
    >

      {{ range .Menu }}

      {{ if .Children }}
      <!-- Parent with submenu -->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon bi {{ .Icon }}"></i>
          <p>
            {{ .Title }}
            <i class="nav-arrow bi bi-chevron-right"></i>
          </p>
        </a>

        <ul class="nav nav-treeview">
          {{ range .Children }}
          <li class="nav-item">
            <a href="{{ baseURL }}{{ .URL }}" class="nav-link">
              <i class="nav-icon bi bi-circle"></i>
              <p>{{ .Title }}</p>
            </a>
          </li>
          {{ end }}
        </ul>
      </li>

      {{ else }}
      <!-- Single menu item -->
      <li class="nav-item">
        <a href="{{ baseURL }}{{ .URL }}" class="nav-link">
          <i class="nav-icon bi {{ .Icon }}"></i>
          <p>
            {{ .Title }}
          </p>
        </a>
      </li>
      {{ end }}

      {{ end }}

    </ul>
  </nav>
</div>
{{ end }}
